.faculty_content_container {
    text-align: center;
}

.faculty_content_container h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--black-color);
    padding-bottom: 8px;
}

.faculty_content_container p {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--black-color);
    padding-bottom: 24px;
    text-align: center;
    width: 60%;
    margin: 10% auto 0;
}

.faculty_content_container p:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--black-color);
    text-align: center;
    width: 90%;
    margin: 0;
}